accelerate==0.28.0
datasets==2.16.1
deepspeed==0.14.4
evaluate==0.4.1
flash_attn==2.6.3
jieba==0.42.1
jieba3k==0.35.1
memory_profiler==0.61.0
nltk==3.8.1
peft==0.7.1
rouge==1.0.1
rouge_chinese==1.0.3
streamlit==1.40.1
torch==2.3.1
transformers==4.38.0
